{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hola Esteban, acabas de desarrollar tu primera app python</h1>
    <p class="lead">Para ello, fue necesario usar HTML para darle la estructura a la página, luego de eso le dí estilo
        con Css y Bootstrap y Flask se encargo de entregarle el codigo python al html.</p>
    <hr class="my-4">
    <p>Utilice un archivo layout para no repetir el codigo en las distintas paginas de la app.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}