{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Servicio técnico Junkers</h1>
    <img src="../static/img/junkers1.png" style="width:30%">
    <p class="lead">Visita nuestro catálogo de productos y enterate de los nuevos modelos
        de calefones Junkers que tenemos a la venta. Despacho a todo Chile
    </p>
    <hr class="my-4">
    <p>Utilice un archivo layout para no repetir el codigo en las distintas paginas de la app.</p>
    <a class="btn btn-primary btn-lg" href="whatsapp:+56987248927//send" role="button">Cotiza al whattsap</a>

</div>

{% endblock %}